<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acv.gym">

    <application
        android:name=".GymApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".module.splash.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.session.SessionActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".module.session.set.SessionSetActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".module.muscle.group.MuscleGroupActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".module.exercise.type.ExerciseTypeActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".module.exercise.ExerciseActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".module.rep.RepActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".module.weight.WeightActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".module.session.NewSessionActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>